
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/add">Welcome to the App</a><br />
<div th:each="message : ${messages}">
    <h4 th:inline="text">[[${message.content}]] postedby [[${message.sent}]] on [[${message.date}]]</h4>
    <a th:href="@{/update/{id} (id=${message.id})}">Update</a> -
    <a th:href="@{/detail/{id} (id=${message.id})}">Details</a> -
    <a th:href="@{/delete/{id} (id=${message.id})}">Delete</a>
</div>


</body>
</html>